<!doctype html>

<html>

<head>
	<head profile="http://www.w3.org/2005/10/profile">
	 <link rel="shortcut icon" type="image/x-icon" href="http://www.favicon-generator.org/favicon-generator/htdocs/favicons/2015-04-11/9b70faf47d3f0c13a97b7d14e4c44152.ico" /> 
	<link type="text/css" rel="stylesheet" href="{{url_for('static', filename='practice.css')}}"/>
		<title></title>
	</head>
	<header>
		<nav>
			<ul>
				<li><a href="https://accounts.google.com/ServiceLogin?service=mail&continue=https://mail.google.com/mail/">+Rachell </a> </li>
				<li><a href="https://accounts.google.com/ServiceLogin?service=mail&continue=https://mail.google.com/mail/">Gmail </a> </li>
				<li><a href="https://accounts.google.com/ServiceLogin?service=mail&continue=https://mail.google.com/mail/">Images </a> </li>
				<li><a href="https://accounts.google.com/ServiceLogin?service=mail&continue=https://mail.google.com/mail/"><img src="http://placekitten.com/20/30"> </a> </li>
				<li><a href="https://accounts.google.com/ServiceLogin?service=mail&continue=https://mail.google.com/mail/"><img src="http://upload.wikimedia.org/wikipedia/commons/4/4b/Farm-Fresh_bell.png">  </a></li>
				<li><a href="https://accounts.google.com/ServiceLogin?service=mail&continue=https://mail.google.com/mail/"><img src="https://cdn1.iconfinder.com/data/icons/iconbeast-lite/30/plus-sign.png"></a></li>
				<li><a href="https://accounts.google.com/ServiceLogin?service=mail&continue=https://mail.google.com/mail/"><img src="https://sp.yimg.com/ib/th?id=JN.QFNP2ffPTIikycuym2HHkQ&pid=15.1&P=0"></a></li>
			</ul>
	
		</nav>
	<body>
		<div >
			<img src="https://www.globalbrigades.org/media/google_logo.png">

			<form action="demo_form.asp">
			<br><input class="searchbar" type="text" name="fname"></br>
   		
  			<input class="leftbutton" type="submit" value="Google Search">
			<input class="rightbutton" type="submit" value="I'm Feeling Lucky!">
			</form> 

		</div>


	</body>


